fastapi
uvicorn
whisperx
torchaudio
torchvision
sentence-transformers>=2.2.2
transformers>=4.26.0
torch>=1.11.0
chromadb
python-multipart 
ffmpeg-python 
pydub 
gtts
requests  
python-dotenv 
openai
docling
flask
imageio[ffmpeg]
pydantic
numpy
uuid