fastapi
uvicorn
whisperx
torchaudio
sentence-transformers>=2.2.2
transformers>=4.26.0
torch==2.1.2
torchvision==0.16.2
--extra-index-url https://download.pytorch.org/whl/cpu
chromadb
python-multipart 
ffmpeg-python 
pydub 
gtts
requests  
python-dotenv 
openai
docling
flask
imageio[ffmpeg]
pydantic
numpy
uuid